html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: underline;
}

main {
  padding-bottom: 4em;
  border-top: 0px;
}

* {
  box-sizing: border-box;
}

input[type=text] {
  border: 0;
  background: #000;
  color: #fff;
}
